{% extends 'base.html.twig' %}

{% block body %}
    {% set evolve = false %}

    {% if pokemon is not same as(null) %}

        {{ pokemon.name }}

        <img src="{{ pokemon.sprites.front_default }}">

        Capacités:
        {% for ability in pokemon.abilities %}
            {{ ability.ability.name }}
        {% endfor %}

        Poids:
        {{ (pokemon.weight / 10)|number_format(1, ',') }} kg

        Types:
        {% for type in pokemon.types %}
            {{ type.type.name }}
        {% endfor %}

        Taille:
        {{ (pokemon.height/10)|number_format(1,',') }} m

        {% if from_pokemon is not same as(null) %}
            Evolution précédente:
            <a href="{{ from_pokemon }}">{{ from_pokemon }}</a>
        {% endif %}

        {% if evolution is not empty %}
            {% for pokemon_evolution in evolution %}
                {% if pokemon_evolution is not same as(from_pokemon) %}
                    {% set evolve = true %}
                {% endif %}
            {% endfor %}
        {% else %}
        {% endif %}

        {% if evolve is same as(true) %}
            Evolution(s) :
            {% for pokemon_evolution in evolution %}
                {% if pokemon_evolution is not same as(from_pokemon) %}
                    <a href="/pokemon/{{ pokemon_evolution }}">{{ pokemon_evolution }}</a>
                {% endif %}
            {% endfor %}
        {% else %}
            Ce pokemon n'a pas d'évolution
        {% endif %}

    {% else %}
        Pokemon not found
    {% endif %}


{% endblock %}