{% extends 'base.html.twig' %}

{% block body %}
    {% set evolve = false %}
    {% set pokemon_description = "description_not_available" %}
    <link rel="stylesheet" href="{{ asset('css/pokedex.css') }}">
    <link rel="stylesheet" href="{{ asset('css/jqueryui.css') }}">

    <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <body id="forest">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Press+Start+2P">
    <div id="container-pokedex" hidden>
        <div id="pokedex">
            <div class="sensor">
                <button></button>
            </div>
            <div class="camera-display">
                {% if pokemon is not same as(null) %}
                    <img src="{{ pokemon.sprites.front_default }}"/>
                {% else %}
                    <img src="https://t2.rbxcdn.com/72ff3d231dbf024a80b23adfa8fb49a1">
                {% endif %}
            </div>
            <div class="divider"></div>
            <div class="stats-display">
                {% if pokemon is not same as(null) %}
                    {% for description in pokemon_species.flavor_text_entries %}
                        {% if description.language.name is same as("en") %}
                            {% set pokemon_description = description.flavor_text %}
                        {% endif %}
                    {% endfor %}
                    <h2>{{ pokemon.name | capitalize }}</h2>
                    <h3>Description</h3>
                    <h4>
                        {{ pokemon_description }}
                    </h4>
                    <h3>Types:</h3>
                    <ul>
                        {% for type in pokemon.types %}
                            <li>{{ type.type.name }}</li>
                        {% endfor %}
                    </ul>
                    <h3>Stats</h3>
                    <ul>
                        {% for stats in pokemon.stats %}
                            <li>{{ stats.base_stat }} {{ stats.stat.name }}</li>
                        {% endfor %}
                    </ul>
                    <h3>Weight</h3>
                    <h4>{{ (pokemon.weight / 10)|number_format(1, ',') }} kg</h4>
                    <h3>Height</h3>
                    <h4>{{ (pokemon.height/10)|number_format(1,',') }} m</h4>
                    <h3>Abilities</h3>
                    <ul>
                        {% for ability in pokemon.abilities %}
                            <li>{{ ability.ability.name }}</li>
                        {% endfor %}
                    </ul>
                    <h3>Moves</h3>
                    <ul>
                        {% for attacks in pokemon.moves %}
                            <li>{{ attacks.move.name }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <h4>Pokemon not found</h4>
                {% endif %}
            </div>
            <div class="botom-actions">
                <div id="actions">
                    <button class="a"></button>
                </div>
                <div id="cross">
                    <button class="cross-button up"></button>
                    <button class="cross-button right"
                    </button>
                    <button class="cross-button down"></button>
                    <button class="cross-button left"></button>
                    <div class="cross-button center"></div>
                </div>
            </div>
            <div class="input-pad"><input type="text" id="pokemon"/></div>

            <div class="bottom-modes">

                <button class="level-button"></button>
                <button class="level-button"></button>
                <button class="level-button"></button>
                <button class="level-button"></button>

                <button class="pokedex-mode black-button">Pokedex</button>
                <button class="game-mode black-button">Game</button>

            </div>
        </div>
        <div id="evolve">
            {% if evolution is not empty %}
                {% for pokemon_evolution in evolution %}
                    {% if pokemon_evolution is not same as(from_pokemon) %}
                        {% set evolve = true %}
                    {% endif %}
                {% endfor %}
            {% else %}
            {% endif %}
            {% if from_pokemon is not same as(null) %}
                Evolution précédente:
                <a href="{{ from_pokemon }}">{{ from_pokemon }}</a>
            {% endif %}

            {% if evolve is same as(true) %}
                Evolution(s) :
                {% for pokemon_evolution in evolution %}
                    {% if pokemon_evolution is not same as(from_pokemon) %}
                        <a href="/pokemon/{{ pokemon_evolution }}">{{ pokemon_evolution }}</a>
                    {% endif %}
                {% endfor %}
            {% else %}
                Ce pokemon n'a pas d'évolution
            {% endif %}
        </div>
    </div>
    </body>
    <script>
        var array = [];
        $pokemonJson = $.get('https://pokeapi.co/api/v2/pokemon/?limit=949').done(function (data) {
            var test = data.results;
            test.forEach(function (t) {
                array.push(t.name);
            });

            console.log(array);
            $('#container-pokedex').show();
        });
        $("#pokemon").autocomplete({
            source: array,
            select: function (event, ui) {
                window.location.href = "/pokemon/" + ui.item.value;
            }
        });
    </script>
{% endblock %}